{% extends 'base1.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1 class="text-center my-3">Login</h1>
			{% if error == True %}
				<p class="text-danger">Invalid user credentials, please check your username and password</p>
			{% endif %}	
			<form action="{% url 'django_practice:login' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					<label for="username">Username</label>
					<input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="password">Password</label>
					<input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
				</div>

				<div class="text-center">
					<input class="btn btn-success" type="submit" value="Login">
				</div>
			</form>
			<br><br>
			<div class="text-end">
					<h5 class= "text-end">Don't have an account? <a class="btn btn-outline-dark" href="{% url 'django_practice:register' %}">Register here</a></h5>
					
			</div>

		</div>
	</div>
</div>
{% endblock %}
